---
BasedOnStyle: LLVM
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: 'true'
AlignOperands: 'true'
AlignTrailingComments: 'true'
AllowShortBlocksOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: 'false'
AlwaysBreakTemplateDeclarations: 'true'
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBraces: Attach
ColumnLimit: '80'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
DisableFormat: 'false'
IndentCaseLabels: 'true'
IndentWidth: '4'
Language: Cpp
SortIncludes: 'true'
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeParens: 'Never'
SpacesInAngles: 'true'
Standard: Cpp11
TabWidth: '4'
UseTab: Never

...
